.nav {
  border: solid 1px #dedede;
  font-size: 19px;
  font-family: "Segoe UI Symbol";
  line-height: 1.368;


  .container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .nav__item {
    min-width: 130px;
    text-align: center;
    padding: 10px;
    color: rgb(91, 91, 91);

    &:hover {
      cursor: pointer;
      background-color: #91d573;
      color: white;
    }
  }

  .active {
    background-color: #91d573;

    .nav__item {
      color: white;
      width: 50px;
      min-width: 130px;
      text-align: center;
      padding: 10px;
    }
  }

}